* {
    margin: 0;
    padding: 0;
}


.body {
    width: 100%;
    height: 100vh;
    background: #370617;
    display: flex ;
    flex-wrap: wrap;
    align-items: center;    
}


.main-box {
    /* Squares */
   

    width: 100%;
    max-width: 1152px;
    min-height: 500px;
    background: #370617;
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}


.box {
    /* rectangle boxes */


    width: 500px;
    height: 160px;
    border: 20px solid #370617;
    border-radius: 40px;
    background: #F48C06;
    display: flex ;
    flex-wrap: wrap;
    align-items: center;
    
}



/*.smallbox {
    border: 20px solid #370617;
    border-radius: 25px;
    display: flex ;
    flex-wrap: wrap;
    align-items: end;
}*/




.Redbox {
  
    width: 78px;
    min-height: 78px;
    border: 20px solid #F48C06;
    background: #9D0208;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 25px;
    align-items: center;
}




.box1 {
    align-items: flex-end;
}


.box2 {
    align-items: stretch;
    justify-content: center;
}

.box3 {
    justify-content: flex-end;
}

.box4 {
    justify-content: space-between;
    align-items: flex-start;
}

.box5 {
    color: aliceblue;
    justify-content: center
    
}

.box6 {
    justify-content: space-between;
    align-items: center;
}


.smallboxd {
    align-self: flex-end;
}

.smallboxe {
    
    align-self: stretch;
    justify-content: center;

}

.smallboxf {
    flex-grow: 2;
}

