.main-box {
    /* Squares */
   

    width: 100%;
    height: 700px;
    padding: 70px;
    background: #370617;
    display: flex ;
    flex-wrap: wrap;
    
    
}


.boxl {
    /* rectangle boxes */


    width: 468px;
    height: 160px;
    border: 20px solid #370617;
    border-radius: 40px;
    padding: 10px;
    background: #F48C06;
    display: flex ;
    flex-wrap: wrap;
    align-items: end;
    
}

.smallbox-1 {
    display: flex ;
    flex-wrap: wrap;
    align-items: end;
}

.small-box-a {
  
    width: 78px;
    height: 78px;
    border: 20px solid #F48C06;
    background: #9D0208;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
}


.box2 {
    /* rectangle boxes */


    width: 468px;
    height: 160px;
    border: 20px solid #370617;
    border-radius: 40px;
    padding: 10px;
    background: #F48C06;
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    
}

.smallbox-2 {
    display: flex ;
    flex-wrap: wrap;
    align-items: center;
}

.small-box-b {
  
    width: 78px;
    height: 120px;
    border: 20px solid #F48C06;
    background: #9D0208;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
}



.box3 {
    /* rectangle boxes */


    width: 468px;
    height: 160px;
    border: 20px solid #370617;
    border-radius: 40px;
    padding: 10px;
    background: #F48C06;
    display: flex ;
    flex-wrap: wrap;
    justify-content: flex-end;
    
}

.smallbox-3 {
    display: flex ;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.small-box-c {

    width: 78px;
    height: 78px;
    border: 20px solid #F48C06;
    background: #9D0208;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
}

.box4 {
    /* rectangle boxes */

  
    width: 468px;
    height: 160px;
    border: 20px solid #370617;
    border-radius: 40px;
    padding: 10px;
    background: #F48C06;
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.smallbox-4 {
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-between;
   gap: 50px;
}

.small-box-d {
    position: relative ;
    width: 78px;
    height: 78px;
    border: 20px solid #F48C06;
    background: #9D0208;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
}


.box5 {
    /* rectangle boxes */


    width: 468px;
    height: 160px;
    border: 20px solid #370617;
    border-radius: 40px;
    padding: 10px;
    background: #F48C06;
    display: flex ;
    flex-wrap: wrap;
    
}

.smallbox-5 {
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #ffffff;
    gap: 50px;
}

.small-box-e {
   
    width: 78px;
    height: 78px;
    border: 20px solid #F48C06;
    background: #9D0208;
    align-items: center;    
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
}



.box6 {
    /* rectangle boxes */

   
    width: 468px;
    height: 160px;
    border: 20px solid #370617;
    border-radius: 40px;
    padding: 10px;
    background: #F48C06;
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    
}


  
.smallbox-6 {
    display: flex ;
    flex-wrap: wrap;
    align-items: center;
}

.small-box-f {

    width: 78px;
    height: 78px;
    border: 20px solid #F48C06;
    background: #9D0208;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
   
}